@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Rock+Salt&family=Young+Serif&display=swap');

body {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
  }

nav a{
    text-align: center;
}
#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}

main section{
    text-align: center;
}
  
#background {
    height: 725px;
}

body {
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:rgba(81, 88, 77, 0.2);
    display: grid;
    grid-template-columns: 150px auto;
    height: 100px;
}

.logo{
    max-width: 60%;
}

nav{
    display: flex;
    justify-content: space-around;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img{
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

nav a:hover {
    background-color: wheat;
}

nav a{ 
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
nav a:hover{
    color: #122444;
}
.home-title{
    color:#b6954f;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color:white;
}
.book, .join{
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
.msg h2{
    color:white;
}
.msg p{
    color: white;
    background-color: #6f7364;
    line-height: 1.5em;
    padding-bottom: 15px;
    font-size: .8em;
}
footer{
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #b6954f;
    text-decoration: none;
}
footer a:hover{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
} 
h2{
    margin: 0;
}   
#logo_link{
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
}
.msg{
    padding: 35px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img, .mountains  {
    border: 10px solid #d9c2a3;
    width: 100%;
}
main section img {
    box-sizing: border-box;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    background-color:#d9c2a3;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}