@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Rock+Salt&family=Young+Serif&display=swap');

body {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
  }

  nav a{
    text-align: center;
  }
  #hero-msg h1{
    text-align: center;
  }

  #hero-msg h4{
    text-align: center;
  }
  .button-box{
    text-align: center;
  }
  main section{
    text-align: center;
  }
  #background {
    height: 725px;
}
body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(81, 88, 77, 0.986);
}
nav a:hover {
    background-color: black;
}

nav a{ 
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
nav a:hover{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
.home-title{
    background-color: rgb(255, 255, 255);
    color: #122444;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
.book, .join{
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
.msg h2{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
.msg p{
    background-color: rgb(255, 255, 255);
    color: #122444;
    background-color: #6f7364;
    line-height: 1.5em;
    padding-bottom: 15px;
    font-size: .8em;
}
footer{
    background-color:rgba(81, 88, 77, 0.986);
    color: #122444;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color: #b6954f;
    text-decoration: none;
}
footer a:hover{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
} 
h2{
    margin: 0;
}   
#logo_link{
    padding-top: 5px;
}
.msg{
    padding: 35px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}