body {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
  }

  nav a{
    text-align: center;
  }
  #hero-msg h1{
    text-align: center;
  }

  #hero-msg h4{
    text-align: center;
  }
  .button-box{
    text-align: center;
  }
  main section{
    text-align: center;
  }
  #background {
    height: 725px;
}
body {
    background-color: #c7edff; 
}
header {
    background-color:rgba(71, 182, 247, 0.986);
}
nav a:hover {
    background-color: black;
}

nav a{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #122444;
    text-decoration: none;
}
nav a:hover{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
.home-title{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
h4{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
.book, .join{
    background-color: rgb(255, 255, 255);
    color: #122444;
    text-decoration: none;
}
.book:hover, .join:hover{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
.msg h2{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
.msg p{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
footer{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
footer a{
    background-color: rgb(255, 255, 255);
    color: #122444;
    text-decoration: none;
}
footer a:hover{
    background-color: rgb(255, 255, 255);
    color: #122444;
}
.icon {
    width: 80px;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    