


.header
{
    display: grid;
    grid-template-columns:1fr 6fr;
    align-items: center;
    width: 1400px;
    height: 100px;
    padding:35px;
}

.logo
{
    align-self: center;
    width: 140px;
    height: auto;
    
}
.navi
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-style: groove;
    width: 1200px;
    height: 100px;

}
.device-icon
{
    width: 100px;
    height: auto;
}
.games-icon
{
    width: 90px;
    height: auto;
}
.home_img
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-style: groove;
    width: 1430px;
    height: 500px;
    overflow: hidden;
}

#playerimg
{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 300px;
    height: auto;
    border-radius: 50%;
    z-index:2;
    background-color: white;
}

#home-img
{
    grid-column: 1/6;
    grid-row: 1/2;
    width: 140%;
    z-index:1;
}

.home-grid
{
    display: grid;
    grid-template-rows:1fr;
    padding-top: 35px;
    
}

.sections
{
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr 0.1fr;
    align-items: center;
}

.player-img
{

    width: 100px;
    height: auto;
    grid-column: 2/3;
    grid-row: 1/3;
    border-style: groove;
    z-index:2;
    background-color: white;
}

.info
{
    grid-column: 1/3;
    grid-row: 2/4;
    display: grid;
    border-style: groove;
    z-index:1;
    padding: 25px;
}

.date
{
    grid-column: 1/3;
    grid-row: 2/3;
}

.news
{
    grid-column: 1/3;
    grid-row: 3/4;
}
.footer
{
    display: grid;
    padding-top: 35px;
}

.social
{
    grid-column: 1/4;
    display: grid; 
    grid-template-columns:1fr 6fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    justify-items: center;
    border-style: groove;
}

.site-plan-link
{
    grid-column: 1/2;
}

.facebook-link
{
    grid-column: 3/4;
}
.twiter-link
{
    grid-column: 4/5;
}
.instagram-link
{
    grid-column: 5/6;
}

