@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playpen+Sans:wght@100&display=swap');

body {
    font-family: Raleway, Arial, sans-serif;
}

.header
{
    display: grid;
    grid-template-columns:1fr 6fr;
    align-items: center;
    width: 1400px;
    height: 100px;
    padding:35px;
}

.logo
{
    align-self: center;
    width: 140px;
    height: auto;
    
}
.navi
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #8B95C9;
    border-style: groove;
    width: 1200px;
    height: 100px;
}

nav a{
    color: black;
    font-size: 33px;
}

.device-icon
{
    width: 100px;
    height: auto;
}
.games-icon
{
    width: 90px;
    height: auto;
}
.home_img
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-style: groove;
    width: 1430px;
    height: 500px;
    overflow: hidden;
}

#playerimg
{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 300px;
    height: auto;
    border-radius: 50%;
    z-index:2;
    background-color: white;
}

#home-img
{
    grid-column: 1/6;
    grid-row: 1/2;
    width: 140%;
    z-index:1;
}

.home-grid
{
    display: grid;
    grid-template-rows:1fr;
    padding-top: 35px;
    width: 1430px;
    height: auto;
    
}

.sections
{
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr 0.1fr;
    align-items: center;
    background-color: #D6EDFF;
    padding: 25px;
}

.player-img
{

    width: 100px;
    height: auto;
    grid-column: 2/3;
    grid-row: 1/3;
    border-style: groove;
    z-index:2;
    background-color: white;
}

.info
{
    grid-column: 1/3;
    grid-row: 2/4;
    display: grid;
    border-style: groove;
    z-index:1;
    padding: 25px;
    background-color: white;
}

.date
{
    grid-column: 1/3;
    grid-row: 2/3;
}

.news
{
    grid-column: 1/3;
    grid-row: 3/4;
}
.footer
{
    display: grid;
    padding-top: 35px;
    width: 1430px;
    height: 100px;
    background-color: #D6EDFF;
}

.social
{
    background-color: #84DCC6;
    grid-column: 1/4;
    display: grid; 
    grid-template-columns:1fr 6fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    justify-items: center;
    border-style: groove;
}

footer a{
    color: #396E94;
    font-size: 33px;
}

.site-plan-link
{
    grid-column: 1/2;
}

.facebook-link
{
    grid-column: 3/4;
}
.twiter-link
{
    grid-column: 4/5;
}
.instagram-link
{
    grid-column: 5/6;
}

/*devices*/
.devices_img
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-style: groove;
    width: 1430px;
    height: 500px;
    overflow: hidden;
}

#devices-image
{
    grid-column: 1/6;
    grid-row: 1/2;
    width: 140%;
    z-index:1;
}

.devices-grid
{
    display: grid;
    grid-template-rows:1fr;
    padding-top: 35px;
    width: 1430px;
    height: auto;
    
}

.sections-device
{
    display: grid; 
    grid-template-columns: 0.4fr 1fr 0.03fr;
    grid-template-rows:.1fr 1fr;
    align-items: center;
    background-color: #D6EDFF;
    padding-bottom: 55px;
    padding-top: 55px;
}

.device
{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 300px;
    border-radius: 50%;
    justify-self: center;
}

.device-info
{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:0.5fr 1fr 1fr;
    background-color: white;
    padding: 25px;
}

.space
{
    height: 25px;
}

.device-info h2
{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
}
.device-info h3
{
    grid-column: 1/2;
    grid-row: 2/4;
}

.on
{
    grid-column: 1/4;
    grid-row: 2/3;
    width: 1350px;
    justify-self: center;
    padding-top: 55px;
}